<!DOCTYPE html>
<html>
  
<head>
    <title>Read Text File</title>
    <style>
      #div1{
      font-size:15pt;
      background-color:white;
      margin:auto;
      border:5pt;
      border-style: solid;
      border-width: 3px;
      text-align:center;
      }
      button {
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      }
    </style>
</head>
  
<body>
	<div id="div1">
    	  <iframe frameborder="4px" height="500" width="95%" ></iframe>
    	  <!--textarea height="80%" width="80%"></textarea-->
	</div>
  <form id="f1" action="/{{filename}}/monitor" method="POST">
      <button type="submit" name="action" id="dashboard" value="dashboard">STOP</button>
  </form>
    <script type="text/javascript">

    	function sleep(ms) {
      		return new Promise(resolve => setTimeout(resolve, ms));
   		}
   		async function display() {
   			for(i=0; i>-1; i+=0.1){
    			console.log(i);
				await sleep(1000);
				fn = "/{{filename}}/monitor";
				document.querySelector("iframe").innerHTML=document.querySelector("iframe").setAttribute("src",fn);
			}
   		}
   display()
	</script> 
</body>
  
</html>